In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Load dataset
data = pd.read_csv("data_customer.csv")

# original dataset 

data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TransactionID       101 non-null    object
 1   Timestamp           100 non-null    object
 2   DayOfWeek           100 non-null    object
 3   BranchLocation      100 non-null    object
 4   CustomerID          100 non-null    object
 5   Gender              100 non-null    object
 6   Service             100 non-null    object
 7   Price (IDR)         100 non-null    float64
 8   BarberName          100 non-null    object
 9   BarberTier          100 non-null    object
 10  Rating (1-5)        100 non-null    float64
 11  Duration (Minutes)  100 non-null    float64
dtypes: float64(3), object(9)
memory usage: 9.6+ KB

,TransactionID,Timestamp,DayOfWeek,BranchLocation,CustomerID,Gender,Service,Price (IDR),BarberName,BarberTier,Rating (1-5),Duration (Minutes)
0,TRX001,2025-01-01 10:45:11,Rabu,Jakarta Selatan,CUST188,Pria,Potong Rambut Pria,60000.0,Budi,Senior,5.0,28.0
1,TRX002,2025-01-01 11:20:45,Rabu,Jakarta Pusat,CUST112,Pria,Cukur Jenggot,35000.0,Eko,Junior,4.0,21.0
2,TRX003,2025-01-01 12:55:01,Rabu,Jakarta Utara,CUST134,Pria,Potong Rambut Pria,55000.0,Charlie,Senior,5.0,33.0
3,TRX004,2025-01-01 14:18:22,Rabu,Jakarta Timur,CUST176,Pria,Paket Ganteng,75000.0,Joko,Junior,4.0,53.0
4,TRX005,2025-01-01 15:30:10,Rabu,Jakarta Selatan,CUST195,Wanita,Potong Rambut Wanita,95000.0,Rina,Senior,5.0,59.0

In [6]:
# Top revenue & price efficiency
service_stats = (
    df.groupby("service", as_index=False)
      .agg(
          bookings=("transactionid", "count"),
          avg_price=("price_idr", "mean"),
          total_revenue=("price_idr", "sum"),
          avg_duration=("duration_minutes", "mean"),
          avg_rating=("rating_1_5", "mean"),
          price_per_minute=("price_per_minute_idr", "mean")
      )
      .sort_values("total_revenue", ascending=False)
)

service_stats.head(10)

NameError: name 'df' is not defined

In [ ]:
barber_stats = (
    df.groupby(["barbername", "barbertier"], as_index=False)
      .agg(
          total_bookings=("transactionid", "count"),
          avg_rating=("rating_1_5", "mean"),
          total_revenue=("price_idr", "sum"),
          avg_duration=("duration_minutes", "mean")
      )
      .sort_values(["total_revenue"], ascending=False)
)

barber_stats.head(10)

In [7]:
# Bookings per day
daily_trends = df.groupby("date", as_index=False)["transactionid"].count()
daily_trends.rename(columns={"transactionid": "bookings"}, inplace=True)

plt.figure()
plt.plot(daily_trends["date"], daily_trends["bookings"], marker=".")
plt.title("Daily Bookings Trend")
plt.xlabel("Date")
plt.ylabel("Number of Bookings")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined

In [4]:
corr = df[["price_idr", "duration_minutes", "rating_1_5"]].corr()
print(corr)

plt.figure()
plt.matshow(corr, fignum=1)
plt.title("Correlation Heatmap")
plt.xticks(range(len(corr.columns)), corr.columns, rotation=45)
plt.yticks(range(len(corr.columns)), corr.columns)
plt.colorbar()
plt.show()

NameError: name 'df' is not defined